@charset "UTF-8";
/* CSS Document */

#pmpro_payment_method .pmpro_checkout-fields {margin-bottom: 1em; }
#pmpro_payment_method span.gateway_paypalexpress {margin-left: 2em; }

@media only screen and (max-width: 767px) {
	#pmpro_payment_method span.gateway_paypalexpress {
		display: block;
		margin: 1em 0 0 0;
	}
}

.pmpro_checkout-fields.pmpro_add_paypal_express {
	display: flex;
    gap: 20px;
}

.pmpro_checkout-fields.pmpro_add_paypal_express .gateway {
	display: flex;
	gap: 5px;
}
